.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjusted background color */
}

.centercontent .createList {
    display: flex;
    flex-direction: column;
    padding: 35px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.centercontent .createList h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333;
}

.centercontent .createList #listtitle {
    height: 40px;
    width: calc(100% - 20px);
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 0 10px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.centercontent .createList #listtitle:focus {
    border-color: #5cb85c;
}

.centercontent .buttons {
    display: flex;
    justify-content: space-between;
}

.centercontent #add, .centercontent #cancel {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.centercontent #add:hover, .centercontent #cancel:hover {
    background-color: #5cb85c;
    color: #fff;
}

.centercontent .createList .selected-date {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.centercontent .createList .selected-date .icon {
    font-size: 20px;
    margin-right: 5px;
}
