<div class="centercontent">
    <div class="createList">
       <h1>Create a new List</h1>
        <div class="selected-date" *ngIf="selectedDate">Selected Date: {{ selectedDate | date: 'dd/MM/yyyy' }}</div>
        <div class="selected-date" *ngIf="selectedTime">Selected Time: {{ selectedTime | date: 'HH:mm:ss' }}</div>
      <input #listtitle type="text" id="listtitle" placeholder="Enter the title">
      <div class="errormessage1" *ngIf="errormessage1">
        <p>{{errormessage1}}</p>
      </div>
      <div class="buttons">
        <button  id="add"  (click)="createNewList(listtitle.value,selectedDate!)">Create</button>
        <span><button id="cancel" (click)="goback()">Back</button></span>
    </div>
    <div class="message" *ngIf="message">
      <p>{{message}}</p>
    </div>
    <div *ngIf="errormessage">
        <p>{{errormessage}}</p>
      </div>
    </div>
</div>

