<div class="centeredcontent"><div class="field">
    <div class="loginbox">
    <h1 class="title has-text-primary">Sign up</h1>
    <p class="control has-icons-left has-icons-right">
      <label for="emailInput"></label>
      <input #emailInput id="emailInput" class="input" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="material-icons">mail</i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <label for="passinput"></label>
      <input id="passinput" #pwInput class="input" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="material-icons">lock</i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success " (click)="onSignupButtonClicked(emailInput.value,pwInput.value)">
        Sign up
      </button>
    </p>
    <br>
    <p>Already got an account?<a routerLink="/Login"> Login</a></p>
  </div>
  </div>
  </div>
