<div class="centercontent">
    <div class="createTask">
       <h1>Create a new Task</h1>
       <div class="selected">
        <div class="selected-date" *ngIf="selectedDate">Selected Date: {{ selectedDate | date: 'dd/MM/yyyy' }}</div>
        <div class="selected-list" *ngIf="selectedDate">Selected List: {{listTitle}}</div>
        </div>
      <input #tasktitle type="text" id="tasktitle" placeholder="Enter the task">
      <div class="errormessage1" *ngIf="errormessage1">
        <p>{{errormessage1}}</p>
      </div>
      <div class="buttons">
        <button  id="add"  (click)="createnewTask(tasktitle.value)">Create</button>
        <span><button id="cancel" (click)="goback()" >Back</button></span>
    </div>
    <div class="message" *ngIf="message">
      <p>{{message}}</p>
    </div>
    <div class="errormessage" *ngIf="errormessage">
        <p>{{errormessage}}</p>
      </div>
    </div>
</div>


