.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}



.centercontent .createTask {
    display: flex;
    flex-direction: column;
    padding: 35px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.centercontent .createTask .title{
    color: turquoise;
    text-transform: uppercase;

}

.centercontent .createTask #tasktitle {
    height: 40px;
    width: 100%;
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 0 10px;
    outline: none;
    border: 2px solid transparent;
   
    border-radius: 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.centercontent .createTask #tasktitle:focus {
    border-color: lightseagreen;
}

.centercontent .buttons {
    display: flex;
    justify-content: flex-end;
}

.centercontent #add, .centercontent #cancel {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.centercontent #add:hover, .centercontent #cancel:hover {
    background-color:turquoise;
    color: #fff;
}

.centercontent .createTask .selected-date,
.centercontent .createTask .selected-list,
.centercontent .createTask .selected-task {
   
   
    border-radius: 5px;
    margin-bottom: 10px;
}

.centercontent .createTask .selected-date {
    color: #333;
}



